.btn {
  background-color: #fff;
  padding: 1.5rem;
  font-family: inherit;
  font-weight: 700;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  transform: scale(1);
}

.btn--header {
  color: var(--color-dark-blue);
}

.btn--header:hover {
  background-color: var(--color-dark-blue);
  color: #fff;
}

.btn--hero {
  border: none;
  background-color: var(--color-dark-blue);
  color: #fff;
}

.btn--hero:hover {
  background-color: var(--color-light-grey);
  color: var(--color-dark-blue);
}
